recipe_form.html
recipe_list.html
recipe_detail.html
login.html
register.html
add_preference.html
ai_generate.html
meal_plan_form.html
recipe_confirm_delete.html
logged_out.html
disclaimer.html
privacy.html
terms.html
getting_started.html
password_reset_form.html
password_reset_done.html
password_reset_confirm.html
password_reset_complete.html