{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container py-4 max-w-400">
  <h2 class="mb-3 text-primary-custom">Set a New Password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.new_password1.label_tag }}
    {{ form.new_password1|add_class:"form-control mb-3" }}
    {{ form.new_password2.label_tag }}
    {{ form.new_password2|add_class:"form-control mb-3" }}
    <button type="submit" class="btn btn-success w-100">Change Password</button>
  </form>
</div>
{% endblock %}